<% content_for :title, 'Styleguide' %>
    <div class="row column">
      <select class="js-example-basic-single" style="width: 50%">
        <option></option>
        <option value="AL">Alabama</option>
        <option value="WY">Wyoming</option>
      </select>
    </div>
    <div class="row column" style="">
      <select class="js-example-basic-single-foundation" style="width: 20%">
        <option></option>
        <option value="AL">Alabama</option>
        <option value="WY">Wyoming</option>
      </select>
      <select class="" style="width: 20%">
        <option></option>
        <option value="AL">Alabama</option>
        <option value="WY">Wyoming</option>
      </select>
      <select class="" style="width: 20%">
        <option></option>
        <option value="AL">Alabama</option>
        <option value="WY">Wyoming</option>
      </select>
    </div>

    <script type="text/javascript">
     $(document).ready(function() {
         $(".js-example-basic-single").select2({
             placeholder: "Select a state",
             allowClear: true,
             theme: "classic"
         });

         $(".js-example-basic-single-foundation").select2({
             placeholder: "Select a state",
             allowClear: true,
             theme: "foundation"
         });
     });
    </script>
