// -*- mode: css -*-

//////////////////////
// foundation settings
@import 'settings';
@import 'foundation';
///////////////////////////
// select2 defined settings

$padding-base-horizontal: ($form-spacing / 2);
$padding-base-vertical: ($form-spacing / 2);
$input-height-base: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));

// color settings
$dropdown-arrow-color: $black;
$clear-selection-color: $dark-gray;
$dropdown-link-active-bg: $primary-color;
$dropdown-link-active-color: foreground($dropdown-link-active-bg);
$dropdown-link-disabled-color: $dark-gray;
$input-color-placeholder: $dark-gray;
